
#landing-page {
    display: block;
}

#main-page {
    display: none;
}

#subscription-page {
    display: none;
}

.list-container {
    display: none;
  }

  .list-container ul {
    list-style: none;
    padding: 0;
  }

  .list-container li {
    text-decoration: underline;
    cursor: pointer;
    color: blue;
    margin-bottom: 8px; /* Adjust as needed for spacing */
  }